body{
  background-color: blue;
}
.welcome{
  width: 600px;
  height: 400px;
  margin-top: 100px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.logo{
  width: 340px;
  margin-right: 10px;
  /*border: solid 1px red;*/
}

.login, .signup{
  width: 244px;
  /*border: solid 1px red;*/
  font-size: 14px;
  padding: 3px;
  background-color: white;
}

.login{
  margin-bottom: 10px;
  height: 84px;
}

.signup{
  height: 294px;
}

.signup h3{
  text-align: center;
}

.welcome input[type="submit"]{
  width: 80px;
}

.welcome > div > div label{
  display: inline-block;
  width: 40%;
  height: 25px;
}

.welcome select{
  float: right;
  width: 55%;
}

.welcome input{
  float: right;
  width: 55%;
}

#errorMessage {
  position: fixed;
  right: 0;
  top: 50%;
  background-color: white;
  max-width: 15%;
  color: red;
  overflow-wrap: break-word;
  padding: 5px;
  border: 1px solid red;
}

#errorMessage:empty {
  display: none;
}

.header {
  display: flex;
  justify-content: space-around;
  color: blue;
  background: white;
  text-align: center;
  cursor: default;
}

.header #webSiteName{
  color: red;
  font-family: fantasy;
  font-size: x-large;
  width: 16%;
}

.header div{
  position: relative;
  margin: auto;
}

.tab {
  width: 28%;
  border-left : solid 1px blue
}

.tab:hover {
  background-color: lightgrey;
}

#profileView {
  display: flex;
}

.horizontal{
  display: flex;
  flex-direction: row;
}

.vertical{
  display: flex;
  flex-direction: column;
}

.userData{
  margin: 20px auto auto 20px;
  color: blue;
  background-color: white;
  width: 250px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  row-gap: 10px;
}

.userData label {
  display: flex;
}

.newPostBlock {
  display: flex;
  flex-direction: column;
  margin: 20px 20px 0px 20px;
  width: calc(100% - 270px);
  align-items: center;
}

.newPostTextArea{
  width: 100%;
  height: 100%;
  margin-bottom: 5px;
}

.userWall{
  background-color: white;
  width: 50%;
  overflow-wrap: break-word;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  border: 5px solid black;
}

.userWall div {
  align-items: center;
}

.userWall div > h2 {
  color: blue;
  margin: auto 20px 10px 20px;
}

.userWall p, .userWall h4{
  color: blue;
  margin-left: 20px;
  margin-right: 20px;
}

.userWall h4 {
  margin-bottom: 0;
}

.userWall hr{
  border: 1px solid blue;
  border-radius: 5px;
  width: 10%;
}

.refreshWallButton{
  position: relative;
  left: -65px;
  top: -5px;
  width: fit-content;
}

#emailSearch {
  background-color: white;
  margin-top: 20px;
  height: 100px;
  width: 100%;
  text-align: center;
}

#browseForm {
  width: 80%;
  margin: auto;
  position: relative;
}

#emailSearched{
  width: 50%;
  margin-left: 10px;
}

#userPanel {
  width: 100%;
  height: 500px;
}
